.main{
    color: #000000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Footer Styles */
footer {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 30px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* modest-style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcd0bc;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.logo img {
    height: 50px;
    vertical-align: middle;
}

.logo span {
    font-size: 1.5em;
    margin-left: 10px;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    color: #333;
}

#profile {
    background: linear-gradient(to bottom, rgba(255, 76, 5, 0.9), rgba(255, 255, 255, 0.63));
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#profile h1 {
    margin-bottom: 20px;
}



button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #111111;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffad6a;
    margin: 0;
    padding: 0;
}

#profile {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

h1 {
    text-align: center;
}

.progress-bar {
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.progress {
    width: 0%;
    height: 30px;
    background-color: #000000;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 5px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #df6b1d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #f74813;
}

.section {
    display: none;
    margin-bottom: 20px;
}

#personalDetails, #educationalBackground, #accountSignup {
    margin-bottom: 20px;
}
